.container_body {
  font-family: "Gilam", sans-serif;
  box-sizing: border-box;
  width: 1920px;
  height: 100%;
  background-color: #0e0e0e;
  /* padding: 0 230px; */
  color: #ffffff;
  position: relative;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}
.header,
.heating_networks,
.cars {
  margin: 0 230px;
}
.container_body_index {
  width: 100%;
  height: 100%;
  background: #e5e5e511;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
header,
main {
  position: relative;
  z-index: 3;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 46px 0 128px;
}
.logo_img {
  width: 216px;
  height: 33px;
}
.vector_phone {
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}
.header a {
  box-sizing: border-box;
  width: 218px;
  height: 50px;
  border: 1px solid #e4b564;
  font-size: 18px;
  color: #e4b564;
  text-decoration: none;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* --------containerheating networks------ */
.heating_network_title {
  padding-bottom: 41px;
  font-weight: 700;
}
.heating_networks {
  margin-bottom: 161px;
}
.heating_networks p {
  width: 1182px;
  height: 56px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  padding-bottom: 41px;
}
.container_heating_networks {
  display: grid;
  width: auto;
  grid-template-columns: 467px 234px 234px 467px;
  grid-template-rows: repeat(2, 468px);
  grid-gap: 30px;
}

.heating_networks_item {
  background-color: #634f2c;
}
.heating_networks_item_2 {
  background-color: #b4a385;
  grid-column: span 2;
}
.heating_networks_item_3 {
  background-color: #e4b564;
}
.heating_networks_item_4 {
  background-color: #635a4a;
  grid-column: span 2;
}
.heating_networks_item_5 {
  background-color: #b08c4d;
  grid-column: span 2;
}
.container_heating_networks div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  padding: 0 43px;
  text-align: center;
}
/*---------container cars-----*/
.cars_title {
  padding-bottom: 94px;
}
.container_cars {
  display: grid;
  width: auto;
  grid-template-columns: repeat(3, 467px);
  grid-template-rows: 255px 32px 130px 104px 277px;
  gap: 25px;
  font-size: 20px;
  margin-bottom: 200px;
}
.container_cars_item,
.container_cars_item_4 {
  background-color: #0e0e0e;
}

.container_cars_item {
  grid-row: span 2;
}

.container_cars_item_2 {
  background-color: #242424;
  grid-row: span 3;
}
.container_cars_item_3 {
  background-color: #1f1f1f;
}
.container_cars_item_4 {
  grid-row: span 3;
}
.container_cars_item_5 {
  background-color: #1f1f1f;
  grid-row: span 3;
}
.container_cars_item_6 {
  background-color: #e4b564;
  grid-row: span 2;
}
.container_cars_item_7 {
  background-color: #0a0909;
  font-weight: 700;
}
.container_cars div {
  padding: 44px 50px;
}
.container_cars p {
  width: 302px;
  height: 50px;
  line-height: 25px;
}
.container_cars_item,
.container_cars_item_2 {
  font-weight: 400;
}
.container_cars_item_3,
.container_cars_item_4,
.container_cars_item_5,
.container_cars_item_6 {
  font-weight: 500;
}
.cars_model {
  font-weight: 700;
}
/* ----------our_customers------------- */
.our_customers {
  box-sizing: border-box;
  width: 1920px;
  padding: 171px 230px 0;
  background-color: #0e0e0e;
  z-index: 3;
}
.our_customers_title {
  display: flex;
  justify-content: space-between;
}
.our_customers_title a {
  width: 180px;
  height: 50px;
  text-decoration: none;
  color: #e4b564;
  border: 0.5px solid #e4b564;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adress_our_customer {
  font-weight: 600;
  
}
.container_our_customers {
  display: grid;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: repeat(2, 391px);
  margin-top: 71px;
}
.our_customers_item,
.our_customers_item_6 {
  background-color: #634f2c;
}
.our_customers_item_2 {
  background-color: rgba(232, 210, 171, 0.76);
  display: flex;
  flex-direction: column;

}
.our_customers_item_2 p{
  width: 326px;
  height: 140px;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

.our_customers_item_3 {
  background-color: #e4b564;
}
.our_customers_item_4 {
  background-color: #635a4a;
}
.our_customers_item_5 {
  background-color: #b08c4d;
}

.container_our_customers img {
  box-sizing: border-box;
}

.container_our_customers div {
    display: flex;
    justify-content: center;
    align-items: center;
} 
/* -------.empty_block-------*/

.empty_block {
  width: 1920px;
  height: 240px;
  background-color: #0e0e0e;
  position: relative;
}
.empty_block_index {
  width: 100%;
  height: 100%;
  background-color: #e5e5e511;
  z-index: 2;
}
